@import './bootstrap-variables';
@import './bootstrap-custom';

body {
  padding: 20px;
}

#root {
  label {
    margin-right: 10px;
  }
  input {
    text-align: right;
    padding-right: 5px;
  }
  .result {
    margin-left: 10px;
    font-size: 1.2em;
  }
}

footer {
  text-align: right;
}
