@import './bootstrap-variables';
@import './bootstrap-custom';

body {
  padding: 20px;
}

/*#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}*/

section h3 {
  margin-top: 10px;
  font-size: 1.4em;
}

footer {
  text-align: right;
}
